@model Web.Iot.PortalService.Models.ViewModels.HomeModel
@using Web.Iot.Shared.Setting;
@{
    ViewData["Title"] = "Index";
}

@{ if (Model.SettingExists)
    {
        <div class="setting__div"></div>

        <script src="~/scripts/Home.js"></script>
        <div class="setting__div">
            <b class="setting__id__a">Current Configuration Id: </b>
            <a class="setting__id__a">@Model.Configuration.Id</a>
        </div>
        <div class="setting__div">
            <form asp-controller="Home" asp-action="Save" method="post">
                @foreach (var setting in Model.Configuration.Settings)
                {
                    <label  asp-for=@setting.Name></label>
                    <input asp-for=@setting.Name />
                    <label asp-for=@setting.Type></label>
                    <select asp-for=@setting.Type asp-items=Model.ValidSettingTypes></select>
                    <label asp-for=@setting.Value></label>
                    <input asp-for=@setting.Value />
                    <div class="setting__div"></div>
                }
                <input type="submit" value="Save"/>
            </form>
            </div>
        <br />
    }
    else
    {
        <div class="setting__div"></div>

        <div class="setting__div">
            <b class="setting__id__a">Current Configuration Id: </b>
            <a class="setting__id__a">Setting Non-existent</a>
        </div>
    }
}



